Checks: >
    -*,
    bugprone-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -bugprone-easily-swappable-parameters

WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(engine|game|network)/include/.*'
